@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Fira Code", monospace,sans-serif;
}
body {
  display: flex;
  overflow: hidden;
}
.text-divs {
  flex-direction: column;
}
.image {
  position: relative;
}
#img2 {
  position: absolute;
  top: 20%;
  left: 30%;
  height: 6em;
  width: 5em;
}
.image-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 19%;
  padding: 1rem;
  height: 5em;
  width: 95%;
}
.odin {
  color: #fff;
  position: absolute;
  top: 22%;
  left: 30%;
  font-size: 3rem;
  padding-left: 15%;
}
.credit {
  color: #fff;
  position: absolute;
  bottom: 22%;
  right: 30%;
  font-size: 1rem;
  padding-left: 15%;
}
legend,
.account-text {
  padding-left: 1.5rem;
}
a {
  text-decoration: none;
  color: #596d48;
  font-weight: 800;
}
.main-form {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.top-text,
.main-form,
.account,
.account-button {
  padding: 1.5rem;
}
.top-text {
  font-weight: bolder;
  font-size: 1.5rem;
}
.form-heading {
  font-weight: 800;
  padding-left: 1rem;
}
.top-text {
  padding-left: 3.5rem;
}

.account , .top-text {
  background-color: rgba(211, 211, 211, 0.2);
}
input {
  font-size: 1.5rem;
}

fieldset {
  border: none;
}
.c-a,
.c-b,
.c-c,
.c-d,
.c-e,
.c-f,
.c1,
.c2,
.c3,
.form-container {
  display: flex;
}
.c1,
.c2,
.c3 {
  padding: 1.5rem;
  width: 100%;
  justify-content: space-around;
}

input:focus {
  border: blue;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #596d48;
  color: #fff;
  padding: 12px 30px;
  border-radius: 5px;
  font-size: 1rem;
}

.c-a,
.c-b,
.c-c,
.c-d,
.c-e,
.c-f {
  flex-direction: column;
}