@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Fira Code", monospace;
}
body {
  display: flex;
}
.text-divs {
  flex-direction: column;
}
.top-text,
.main-form,
.account {
  padding: 2rem;
}
.top-text {
  font-weight: bolder;
  font-size: 1.5rem;
  background-color: #d3d3d3;
}
.form-heading {
  font-weight: 800;
}
.account-button {
  padding: 1.5rem;
}
.account {
  background-color: azure;
}
input {
  /* border: #E5E7EB; */
  border-radius: 5px;
  font-size: 1rem;
}
.c1 , .c2 , .c3 {
  padding: 1rem;
}
input:focus {
  border: blue;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #596D48;
  color: #fff;
  padding: 12px 30px;
  border-radius: 5px;
  font-size: 1rem;
}

